.ninths {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: white;
    z-index: 99;
    border: 2px solid black;
    box-shadow: 1vh 1vh;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    white-space: nowrap;
}

.ninthstypeselector {
    flex: 5;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 2%;
    gap: 10%;
}

.ninthstypeselector-columns {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.ninthstypeselector-column {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    gap: 10%;
    height: 100%;
}

.ninthsinversionselector {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 2%;
    gap: 10%;
}

.ninthsacceptcancel {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
    gap: 30%;
    height: 15vh;
}
