.button {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 50%;
    margin: 7%;
    height: 7%;
    cursor: pointer;
    z-index: 100;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1vh 1vh;
}

.button:hover {
    background-color: black;
    color: white;
    box-shadow: 1vh 1vh #333;
}
