.button, .disabled-button {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5vmin;
}

.button {
    background-color: white;
}

.disabled-button {
    background-color: #333;
    cursor: default;
}

.button:hover {
    background-color: black;
    color: white;
}

.shadow {
    box-shadow: 1vmin 1vmin 0 #333;
}

.button:hover .icon {
    filter: invert(1)
}

.icon {
    height: 100%;
    width: 100%;
}
