.white-key:hover {
    background-color: #eee;
}

.label {
    position: absolute;
    bottom: 1%;
    left: -10%;
    font-size: 0.7em;
    color: #ccc;
    width: 100%;
    height: auto;
}

.black-key:hover {
    background-color: #333;
}
