.rightPanel {
    position: relative;
    grid-column: 2 / 2;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vh;
}

.results-sliders-column {
    flex: 7;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.alarm-results-row {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3vh;
}

.slider-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.alarm-flex {
    flex: 1;
}

.results-flex {
    flex: 3;
    display: flex;
    flex-direction: column;
}
