.triads {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    background-color: white;
    z-index: 99;
    border: 2px solid black;
    box-shadow: 1vh 1vh;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.triadtypeselector {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
    gap: 10%;
}

.triadinversionselector {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
    gap: 10%;
}

.acceptcancel {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}