.overlay {
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: white;
    width: fit-content;
    max-width: 85%;
    height: auto;
    z-index: 99;
    border: 2px solid black;
    box-shadow: 1vmin 1vmin;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vmin;
}

.center {
    top: 50%;
    left: 50%;
}

.bottom {
    top: 75%;
    left: 50%;
}

.top {
    top: 25%;
    left: 50%;
}
