.control-panel {
    width: 100%;
    box-sizing: border-box;
    height: 45%;

    position: fixed;
    bottom: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3vmin;
    padding: 2vmin;
}
