.control-panel {
    width: 98%;
    height: 45%;

    position: fixed;
    bottom: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vh;

    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
