.white-key {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.white-key:hover {
    background-color: #eee;
}

.label {
    position: absolute;
    bottom: 1%;
    left: -10%;
    font-size: 0.7em;
    color: #ccc;
    width: 100%;
    height: auto;
}

.black-key {
    position: absolute;
    height: 63%;
    background-color: black;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.black-key:hover {
    background-color: #333;
}
