.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: white;
    z-index: 99;
    border: 2px solid black;
    box-shadow: 1vh 1vh;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.alert-content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    line-height: 1.5;
    padding-top: 5%;
}

.alert-button-container {
    width: 40%;
    height: 40%;
    padding: 7%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
