.left, .right, .disabled-left, .disabled-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    border-right: 2px solid black;
}

.left, .right {
    background-color: white;
}

.disabled-left, .disabled-right {
    background-color: #888;
    cursor: default;
}

.left, .disabled-left {
    background-image: url('../../assets/png/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.right, .disabled-right {
    background-image: url('../../assets/png/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.left:hover, .right:hover {
    background-color: #000;
}

.left:hover, .right:hover {
    background-image: url('../../assets/png/arrowinv.png');
}
