.left, .right, .disabled-left, .disabled-right {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    border-right: 2px solid black;
}

.arrow {
    fill: black;
    width: 60%;
    height: 60%;
}

.left:hover .arrow, .right:hover .arrow {
    fill: white;
}

.left, .right {
    background-color: white;
}

.disabled-left, .disabled-right {
    background-color: #888;
    cursor: default;
}

.right, .disabled-right {
    transform: rotate(180deg);
}

.left:hover, .right:hover {
    background-color: #000;
}
