.left-panel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 2vh;
}

.header-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.header-container-button {
    aspect-ratio: 1;
}

.buttons-panel {
    flex: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 4vh;
}

.buttons-column {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}

.buttons-row {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;
}
