.header, .disabled-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border: 2px solid #000;
    cursor: default;
    white-space: nowrap;
    flex: 1;
    box-sizing: border-box;
}

.header {
    background-color: white;
}

.disabled-header {
    background-color: #888;
}

.header-filler, .disabled-header-filler {
    flex: 1;
    height: 75%;
}

.header-filler {
    background-color: #ccc;
}

.disabled-header-filler {
    background-color: #333;
}
