.intervals-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: fit-content;
    width: fit-content;
    z-index: 99;
    border: 2px solid black;
    box-shadow: 1vh 1vh;
    padding: 5vh;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.intervals-settings {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.intervaltypeselector {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    gap: 5vh;
}

.intervaltypeselector-grid {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw;
}

.intervalnumberselector {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}

.intervals-ok-cancel {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    gap: 3vh;
    height: 15vh;
    width: 8vw;
}
