.slider-bar, .disabled-slider-bar {
    flex: 3;
    display: flex;
    justify-content: space-between;

    z-index: 1;
}

.slider-area, .disabled-slider-area {
    background-color: #ccc;
    flex: 8;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 2px solid black;
}

.slider-block, .disabled-slider-block {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 2;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0.5vmin;
    z-index: 1;
}

.slider-block {
    background-color: white;
}

.disabled-slider-block {
    background-color: #888;
    cursor: default;
}

.slider-block:hover {
    background-color: #000;
    color: white;
}
