.slider-bar, .disabled-slider-bar {
    flex: 3;
    display: flex;
    justify-content: space-between;
    height: 100%;

    border: 2px solid black;
    z-index: 1;
}

.slider-bar {
    background-color: #ccc;
}

.disabled-slider-bar {
    background-color: #888;
}

.slider-area, .disabled-slider-area {
    flex: 8;
    display: flex;
    justify-content: left;
    align-items: center;
}

.slider-block, .disabled-slider-block {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    aspect-ratio: 2;
    border: 2px solid black;
    z-index: 1;
}

.slider-block {
    background-color: white;
}

.disabled-slider-block {
    background-color: #888;
    cursor: default;
}

.slider-block:hover {
    background-color: #000;
    color: white;
}
