.melodylength {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background-color: white;
    z-index: 99;
    border: 2px solid black;
    box-shadow: 1vh 1vh;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slidercontainer {
    flex: 3;
    display: 'flex';
    padding: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.melodylengthacceptcancel {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20%;
    padding: 5%;
}