.melodylength {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background-color: white;
    z-index: 99;
    border: 2px solid black;
    box-shadow: 1vh 1vh;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.acceptcancelplay {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
    flex-direction: column;
}