.menu-bar {
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    background-color: white;
}

.menu-container {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background-color: white;
    color: black;
}

.menu-list { 
    position: absolute;
    top: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    list-style: none;
    width: fit-content;
    border: 2px solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
    z-index: 100;
}

.opened-menu, .closed-menu {
    border: 0px;
    display: inline-block;
    margin: 0px;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font: 400 3vh;
}

.opened-menu {
    background-color: black;
    color: white;
}

.opened-menu:hover {
    background-color: #333;
}

.closed-menu {
    background-color: white;
    color: black;
}

.closed-menu:hover {
    background-color: black;
    color: white;
}
