.alarm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.alarm-display, .alarm-display-lit {
    position: relative;
    width: 90%;
    height: 80%;
    border: 2px solid black;
}

.alarm-display {
    background-color: #888;
}

.alarm-display-lit {
    background-color: black;
}
